{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block content %}
<section id="one" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2>{{ object.player_name }}</a></h2>
                    </header>
                    <hr/>
                    <div class="row">
                        <div class="6u 12u$(small)">
                            <ul class="alt">
                                <li><b>Equipo:</b> {{ object.team_abr }}</li>
                                <li><b>Edad:</b> {{ object.age }}</li>
                                <li><b>Partidos jugados:</b> {{object.games_played}}</li>
                                <li><b>Victorias:</b> {{ object.w }}</li>
                                <li><b>Derrotas:</b> {{ object.l }}</li>
                                <li><b>% de victorias:</b> {{ object.w_pct }}</li>
                                <!-- GRÁFICO VICTORIAS DERROTAS-->
                                <div id="containerGames" >
                                    <canvas id="bar-chart-games" style="position: relative; margin: auto; height: 80vh; width: 70vw;"></canvas>
                                </div>
                                <br>
                                <br>
                                <li><b>TS %:</b> {{ object.ts_pct }}</li>
                                <li><b>Poss:</b> {{ object.poss }}</li>
                                <li><b>Ast %:</b> {{ object.ast_pct }}</li>
                                <li><b>Ast To:</b> {{ object.ast_to }}</li>
                                <li><b>Ast Ratio:</b> {{ object.ast_ratio }}</li>
                                <li><b>Off Reb %:</b> {{ object.oreb_pct }}</li>
                                <li><b>Def Reb %:</b> {{ object.dreb_pct }}</li>
                                <li><b>Reb %:</b> {{ object.reb_pct }}</li>
                                <li><b>Tm Tov %:</b> {{ object.tm_tov_pct }}</li>
                                <li><b>EFG %:</b> {{ object.efg_pct }}</li>
                                <!-- GRÁFICO EFG-->
                                <div id="containerEfg">
                                    <canvas id="bar-chart-efg" style="position: relative; margin: auto; height: 80vh; width: 70vw;"></canvas>
                                </div>
                                <br>
                                <br>

                            </ul>

                        </div>
                        <div class="6u 12u$(small)">
                            <ul class="alt">
                                <li><b>Minutos:</b> {{ object.min|floatformat:1 }}</li>
                                <!-- GRÁFICO MINUTOS -->
                                <div id="containerMinutes">
                                    <canvas id="bar-chart-minutes" style="position: relative; margin: auto; height: 80vh; width: 70vw;"></canvas>
                                </div>
                                <br>

                                <li><b>Usg %:</b> {{ object.usg_pct }}</li>
                                <li><b>Pace:</b> {{ object.pace }}</li>
                                <li><b>Pace Per 40:</b> {{ object.pace_per40 }}</li>
                                <li><b>Pie:</b> {{ object.pie }}</li>

                                <!-- GRÁFICO PIE-->
                                <div id="containerPie">
                                    <canvas id="bar-chart-pie" style="position: relative; margin: auto; height: 80vh; width: 70vw;"></canvas>
                                </div>
                                <br>


                                <li><b>FGM:</b> {{ object.fgm }}</li>
                                <li><b>FGA:</b> {{ object.fga }}</li>
                                <li><b>FGM %:</b> {{ object.fgm_pg }}</li>
                                <li><b>FGA %:</b> {{ object.fga_pg }}</li>
                                <li><b>FG %:</b> {{ object.fg_pct }}</li>

                                <!-- GRÁFICO FG-->
                                <div id="containerFg">
                                    <canvas id="bar-chart-fg" style="position: relative; margin: auto; height: 80vh; width: 70vw;"></canvas>
                                </div>
                                <br>
                                <br>

                            </ul>

                        </div>

                        <div class="12u 12u$(small)">
                            <ul class="alt">
                            <li><b>Off Rating:</b> {{ object.off_rating|floatformat:1 }}</li>
                            <li><b>Deff Rating:</b> {{ object.def_rating|floatformat:1 }}</li>
                            <li><b>Net Rating:</b> {{ object.net_rating|floatformat:1 }}</li>
                            <!-- GRÁFICO OFF, DEF, NET RATING-->
                            <div id="containerRating">
                                <canvas id="bar-chart-rating" style="position: relative; margin: auto; height: 80vh; width: 70vw;" ></canvas>
                            </div>
                            </ul>

                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <a href="{% url 'list_player_filter' %}" class="button" style="margin-left: 3%;">Volver</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block scripts %}

{% localize off %}
<script>


//GRÁFICO VICTORIAS, DERROTAS
var ctxGames = document.getElementById("bar-chart-games").getContext("2d");
            var myChartGames = new Chart(ctxGames,{
                type:"pie",
                data:{
                    labels:['Victorias','Derrotas'],
                    datasets:[{
                            label: "Num partidos",
                            data:[{{ object.w }},{{ object.l }}],
                            fill:false,
                            backgroundColor:[
                                "rgba(75, 192, 192, 0.2)",
                                "rgba(255, 99, 132, 0.2)"
                            ],
                            borderColor:[
                                "rgb(75, 192, 192)",
                                "rgb(255, 99, 132)"
                            ],
                            borderWidth:1
                    }]
                },
                options:{
                    scales:{
                        yAxes:[{
                                ticks:{
                                    beginAtZero:true
                                    }
                        }]
                    }
                }
            });


//GRÁFICO MINUTES
    var ctxMinutes =document.getElementById("bar-chart-minutes").getContext("2d");
            var myChartMinutes = new Chart(ctxMinutes ,{
                type:"bar",
                data:{
                    labels:[ {% for player in team_players%}
                            "{{player.player_name}}".replace(/&#x27;/g,"'"), {% endfor%}],
                    datasets:[{
                            label: "Minutos por partido",
                            data:[
                                {% for player in team_players%}
                                    {{ player.min }},
                                {% endfor%}],
                            fill:false,
                            backgroundColor:[
                                {% for player in team_players%}
                                    {% if player == object %}
                                        "rgba(153, 102, 255)",
                                    {% else %}
                                        "rgba(153, 102, 255, 0.2)",
                                    {% endif %}
                                {% endfor%}
                            ],
                            borderColor:[
                                {% for player in team_players%}
                                    "rgb(153, 102, 255)",
                                {% endfor%}],
                            borderWidth:1
                    }]
                },
                options:{
                    scales:{
                        yAxes:[{
                                ticks:{
                                    beginAtZero:true
                                    }
                        }]
                    }
                }
            });


//GRÁFICO RATINGS
var ctxRating =document.getElementById("bar-chart-rating").getContext("2d");
            var myChartRating = new Chart(ctxRating ,{
                type:"bar",
                data:{
                    labels:[ {% for player in team_players%}
                            "{{player.player_name}}".replace(/&#x27;/g,"'"), {% endfor%}],
                    datasets:[{
                            label: "Offensive Rating",
                            data:[
                                {% for player in team_players%}
                                    {{ player.off_rating }},
                                {% endfor%}],
                            fill:false,
                            backgroundColor:[
                                {% for player in team_players%}
                                    {% if player == object %}
                                        "rgba(54, 162, 235)",
                                    {% else %}
                                        "rgba(54, 162, 235, 0.2)",
                                    {% endif %}
                                {% endfor%}
                            ],
                            borderColor:[
                                {% for player in team_players%}
                                    "rgb(54, 162, 235)",
                                {% endfor%}],
                            borderWidth:1
                    },
                    {
                            label: "Defensive Rating",
                            data:[
                                {% for player in team_players%}
                                    {{ player.def_rating }},
                                {% endfor%}
                            ],
                            fill:false,
                            backgroundColor:[
                                {% for player in team_players%}
                                    {% if player == object %}
                                        "rgba(255, 99, 132)",
                                    {% else %}
                                        "rgba(255, 99, 132, 0.2)",
                                    {% endif %}
                                {% endfor%}
                            ],
                            borderColor:[
                                {% for player in team_players%}
                                    "rgb(255, 99, 132)",
                                {% endfor%}
                            ],
                            borderWidth:1
                    },
                    {
                            label: "Net Rating",
                            data:[
                                {% for player in team_players%}
                                    {{ player.net_rating }},
                                {% endfor%}
                            ],
                            fill:false,
                            backgroundColor:[
                                {% for player in team_players%}
                                    {% if player == object %}
                                        "rgba(255, 205, 86)",
                                    {% else %}
                                        "rgba(255, 205, 86, 0.2)",
                                    {% endif %}
                                {% endfor%}
                            ],
                            borderColor:[
                                {% for player in team_players%}
                                    "rgb(255, 205, 86)",
                                {% endfor%}
                            ],
                            borderWidth:1
                    }]
                },
                options:{
                    scales:{
                        yAxes:[{
                                ticks:{
                                    beginAtZero:true
                                    }
                        }]
                    }
                }
            });


//GRÁFICO PIE
    var ctxPie =document.getElementById("bar-chart-pie").getContext("2d");
            var myChartPie = new Chart(ctxPie ,{
                type:"bar",
                data:{
                    labels:[ {% for player in team_players%}
                            '{{player.player_name}}'.replace(/&#x27;/g,"'"), {% endfor%}],
                    datasets:[{
                            label: "Player Impact Estimate",
                            data:[
                                {% for player in team_players%}
                                    {{ player.pie }},
                                {% endfor%}],
                            fill:false,
                            backgroundColor:[
                                {% for player in team_players%}
                                    {% if player == object %}
                                        "rgba(54, 162, 235)",
                                    {% else %}
                                        "rgba(54, 162, 235, 0.2)",
                                    {% endif %}
                                {% endfor%}
                            ],
                            borderColor:[
                                {% for player in team_players%}
                                    "rgb(54, 162, 235)",
                                {% endfor%}],
                            borderWidth:1
                    }]
                },
                options:{
                    scales:{
                        yAxes:[{
                                ticks:{
                                    beginAtZero:true
                                    }
                        }]
                    }
                }
            });


//GRÁFICO EFG
    var ctxEfg =document.getElementById("bar-chart-efg").getContext("2d");
            var myChartEfg = new Chart(ctxEfg ,{
                type:"bar",
                data:{
                    labels:[ {% for player in team_players%}
                            '{{player.player_name}}'.replace(/&#x27;/g,"'"), {% endfor%}],
                    datasets:[{
                            label: "Effective Field Goal %",
                            data:[
                                {% for player in team_players%}
                                    {{ player.efg_pct }},
                                {% endfor%}],
                            fill:false,
                            backgroundColor:[
                                {% for player in team_players%}
                                    {% if player == object %}
                                        "rgba(73, 240, 81, 0.7)",
                                    {% else %}
                                        "rgba(73, 240, 81, 0.2)",
                                    {% endif %}
                                {% endfor%}
                            ],
                            borderColor:[
                                {% for player in team_players%}
                                    "rgb(73, 240, 81)",
                                {% endfor%}],
                            borderWidth:1
                    }]
                },
                options:{
                    scales:{
                        yAxes:[{
                                ticks:{
                                    beginAtZero:true
                                    }
                        }]
                    }
                }
            });


//GRÁFICO FG
    var ctxFg =document.getElementById("bar-chart-fg").getContext("2d");
            var myChartFg = new Chart(ctxFg ,{
                type:"bar",
                data:{
                    labels:[ {% for player in team_players%}
                            '{{player.player_name}}'.replace(/&#x27;/g,"'"), {% endfor%}],
                    datasets:[{
                            label: "Field Goal %",
                            data:[
                                {% for player in team_players%}
                                    {{ player.fg_pct }},
                                {% endfor%}],
                            fill:false,
                            backgroundColor:[
                                {% for player in team_players%}
                                    {% if player == object %}
                                        "rgba(255, 205, 86)",
                                    {% else %}
                                        "rgba(255, 205, 86, 0.2)",
                                    {% endif %}
                                {% endfor%}
                            ],
                            borderColor:[
                                {% for player in team_players%}
                                    "rgba(255, 205, 86)",
                                {% endfor%}],
                            borderWidth:1
                    }]
                },
                options:{
                    scales:{
                        yAxes:[{
                                ticks:{
                                    beginAtZero:true
                                    }
                        }]
                    }
                }
            });


</script>
{% endlocalize %}
{% endblock %}