{% extends 'base.html' %}
{% load static %}
{% load l10n %}

{% block content %}
<section id="one" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2>Predictor de quintetos por jugadores</h2>
                    </header>
                    <hr/>
                    <form method="POST" action="{% url 'lineup_predictor_by_players' %}">
                        {% csrf_token %}
                        <p class="align-center">--Selecciona 5 jugadores--</p>
                        <div class="align-center">
                            <p style="color: red;"> La fiabilidad de la predicción será de entre un 2% y un 6%. Es posible que su quinteto haya
                                disputado algún partido con anterioridad, por lo que puede consultar sus estadísticas en nuestro listado de quintetos.</p>
                        </div>
                        <div class="row uniform">
                            <div class="4u 12u$(xsmall)"  style="margin-left: 0%;" >
                               {{ form.player1 }}
								{% for error in form.player1.errors %}
                                	<p style="color: #f00; font-size: 100%; margin-bottom: 0rem; text-align: left;" >{{ error }}</p>
                            	{% endfor %}
                            </div>
                            <div class="4u 12u$(xsmall)"  style="margin-left: 0%;" >
                               {{ form.player2 }}
								{% for error in form.player2.errors %}
                                	<p style="color: #f00; font-size: 100%; margin-bottom: 0rem; text-align: left;" >{{ error }}</p>
                            	{% endfor %}
                            </div>
                            <div class="4u 12u$(xsmall)"  style="margin-left: 0%;" >
                               {{ form.player3 }}
								{% for error in form.player3.errors %}
                                	<p style="color: #f00; font-size: 100%; margin-bottom: 0rem; text-align: left;" >{{ error }}</p>
                            	{% endfor %}
                            </div>
                        </div>
                        <div class="row uniform">
                            <div class="4u 12u$(xsmall)"  style="margin-left: 16.6%;" >
                               {{ form.player4 }}
								{% for error in form.player4.errors %}
                                	<p style="color: #f00; font-size: 100%; margin-bottom: 0rem; text-align: left;" >{{ error }}</p>
                            	{% endfor %}
                            </div>
                            <div class="4u 12u$(xsmall)"  style="margin-left: 0%;" >
                               {{ form.player5 }}
								{% for error in form.player5.errors %}
                                	<p style="color: #f00; font-size: 100%; margin-bottom: 0rem; text-align: left;" >{{ error }}</p>
                            	{% endfor %}
                            </div>
                        </div>
                        <div class="12u$">
                            {% for error in form.non_field_errors %}
                                <br>
                                <p class="align-center" style="color: #f00;" >{{ error }}</p>
                            {% endfor %}
                        </div>
                        <h1></h1>
                        <div class="12u$">
                            <ul class="actions align-center">
                                <li><input type="submit" value="Enviar" /></li>
                            </ul>
                        </div>
                    </form>
                    <br>
                    {% if solucion %}
                    <div class="align-center">
                        <h3> El Offensive Rating de este quinteto será de {{ solucion|floatformat:2 }}</h3>
                    </div>
                    <br>
                    <header class="align-center">
                        <h2>Comparación con los valores máximo, mínimo y medio</h2>
                    </header>
                    <div class="align-center">
                        <p> Aquí puedes ver una comparación de tu resultado con respecto a los valores (Offensive Rating, Defensive Rating y Net Rating) máximo,
                            mínimo y medio de los demás quintetos existentes.
                            Sólo se han tenido en cuenta los quintetos que hayan jugado como mínimo 30 minutos. </p>
                    </div>
                    <div id="containerRatings" class="align-center">
                        <canvas id="bar-chart-ratings" style="position: relative; margin: auto; height: 80vh; width: 70vw;"></canvas>
                    </div>
                    {% else %}
                    <p></p>
                    {% endif %}
                    <br>
                    <div class="row">
                        <a href="{% url 'home' %}" class="button" style="margin-left: 3%;">Volver</a>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('.predictplayer').select2({
        placeholder:"Seleccione jugador",
        width: '100%',
    });
});
</script>


{% localize off %}
<script>
//GRÁFICO RATINGS
var solucion= {{ solucion|unlocalize }}
var ctxRatings =document.getElementById("bar-chart-ratings").getContext("2d");
var myChartRatings = new Chart(ctxRatings ,{
    type:"bar",
    data:{
        labels:[ "Offensive Rating", "Defensive Rating", "Net rating"],
        datasets:[{
                label: "Máximo",
                data:[{{historico.max_off_rating}}, {{historico.max_def_rating}}, {{historico.max_net_rating}}],
                fill:false,
                backgroundColor:[
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 99, 132, 0.2)",

                ],
                borderColor:[
                    "rgb(255, 99, 132)",
                    "rgb(255, 99, 132)",
                    "rgb(255, 99, 132)",

                ],
                borderWidth:1
        },
        {
                label: "Medio",
                data:[{{historico.avg_off_rating}}, {{historico.avg_def_rating}}, {{historico.avg_net_rating}}],
                fill:false,
                backgroundColor:[
                     "rgba(54, 162, 235, 0.2)",
                     "rgba(54, 162, 235, 0.2)",
                     "rgba(54, 162, 235, 0.2)",
                ],
                borderColor:[
                     "rgb(54, 162, 235)",
                     "rgb(54, 162, 235)",
                     "rgb(54, 162, 235)",
                ],
                borderWidth:1
        },
        {
                label: "Mínimo",
                data:[{{historico.min_off_rating}}, {{historico.min_def_rating}}, {{historico.min_net_rating}}],
                fill:false,
                backgroundColor:[
                     "rgba(255, 205, 86, 0.2)",
                     "rgba(255, 205, 86, 0.2)",
                     "rgba(255, 205, 86, 0.2)",
                ],
                borderColor:[
                    "rgb(255, 205, 86)",
                    "rgb(255, 205, 86)",
                    "rgb(255, 205, 86)",
                ],
                borderWidth:1
        },
        {
                label: "Tu quinteto",
                data:[solucion[0].toFixed(2)],
                fill:false,
                backgroundColor:[
                    "rgba(73, 240, 81)",
                ],
                borderColor:[
                    "rgba(73, 240, 81)",
                ],
                borderWidth:1
        }]
    },
    options:{
        scales:{
            yAxes:[{
                    ticks:{
                        beginAtZero:true
                        }
            }]
        }
    }
});
</script>
{% endlocalize %}

{% endblock %}
